body {
  background-image: url(https://images.unsplash.com/photo-1420513777793-6b5b2c9ca530?q=80&fm=jpg&s=5265dafceba363dccdff0a45ce9f085b);
}
.container {
  margin-top: 5%;
  background-color: navy;
}
h1 {
  padding-top: 10%;
  text-align: center;
}
.col-md-4 {
  width: 300px;
  height: 500px;
  border: 1px solid white;
  position: relative;
}
#top {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 50px;
  background-color: red;
  border: 2px solid black;
}
#mid {
  width: 150px;
  height: 50px;
  background-color: Orange;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
#bot {
  width: 200px;
  height: 50px;
  background-color: lightblue;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
#Left, #Center, #Right {
  width: 100%;
  bottom: 0;
  position: absolute;
}
